body {
  background-image: url("desk_page_images/static_background(desk_page).svg");
  background-size: cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Prevent repeating */
  background-position: center center; /* Center the image */
  margin: 0; /* Remove default margin */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
/* colors */
:root {
  --purple: #9caffe;
  --orange: #f14d08;
  --darkOrange: #af371c;
  --grey: #f5f5f5;
  --black: #020001;
  --brown: #c28f73;
  --darkBrown: #9a6053;
  --darkDarkBrown: #2f120b;
  --darkDarkGrey: #908c8c;
}
.deskBackground {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  /* margin-bottom:-100px; */
}
.draggable {
  cursor: move;
}
#computerScreen {
  stroke: var(--purple);
}
#computerBase {
  stroke: var(--grey);
}
#computer:hover #computerScreen {
  stroke: var(--black);
  stroke-width: 2px;
}
#computer:hover #computerBase {
  stroke: var(--black);
  stroke-width: 2px;
}

.light {
  display: none;
}
.displayBlock {
  display: block;
  /* transition: display .5s ease-in-out; */
}

.blades-rotate {
  transform-origin: 40px 30px;
  transform-box: fill-box;
  animation: fanBlowing 0.1s linear infinite;
}
.hair-blows {
  transform-origin: 130px 20px;
  transform-box: fill-box;
  animation: hairBlowing 1s ease-in-out infinite alternate;
}
.postIt-blows {
  transform-origin: center;
  transform-box: fill-box;
  animation: postItBlowing 0.5s ease-in-out infinite alternate;
}
.handDragged {
  transform: translate(5px, 10px);
  transition: transform 1s ease-in-out;
}
@keyframes fanBlowing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hairBlowing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(6deg);
  }
}
@keyframes postItBlowing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-20deg);
  }
}
/* clock */
#minuteHand {
  transform-origin: 120px, 20px;
  transform-box: fill-box;
  animation: clockMoving 60s infinite;
}

@keyframes clockMoving {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
