body {
    background-image: url("images/whiteBackground.svg");
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: center center; /* Center the image */
    margin: 0; /* Remove default margin */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

/* .custom-cursor{
    cursor: url('images/cursor.svg'), auto;
    
} */
.jost {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-style: normal;
} 

/* colors */
:root {
    --purple: #9CAFFE;
    --orange: #F14D08;
    --grey: #F5F5F5;
    --black: #020001;

}

.navbar{
    position: sticky;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    color: #F5F5F5;
    margin: 0;

}
.navbar ul {   
    list-style: none;
    overflow: hidden;
    margin: 0;

}
  
/* Style rule set for individual li */
.navbar ul li {
    font-size: 30px;
    color: var(--purple);
    padding-top: 20px;
    margin-right: 150px;
    text-decoration: none;
    float: left;
}
  
/* Style rule set for individual li link */
.navbar ul li a {
    text-decoration: none;
    color: var(--grey);
}
  
#homeIconNavbarDiv{
    margin-top: -10px;
}
#homeIconNavbarDiv:hover{

    transform: rotate(-50deg);
    transition: transform, 0.3s ease-in-out;
}

#contactPosition{
    margin-top:7px;
}
#welcomePageName{
    margin: auto;
    margin-top: 0px;

}

#hairWelcome{
    fill: var(--grey);
    /* stroke: var(--grey); */
}
 #eyebrowsWelcome{
    fill: var(--grey);

} 
#welcomePageIconClick{
    /* margin-left:1120px;
    margin-top:-650px; */
    margin-top: 300px; 
    margin-right: 90px;
}
#iconClick{
    stroke: var(--grey);
}
#clickMeGroup{
    stroke: var(--grey);
    fill: var(--grey);
}
#welcomePageIconClick:hover #iconClick{
    stroke: var(--orange);
    transform: rotate(40deg);
    transform-origin: center;
    transform-box: fill-box; 
    transition: stroke, transform 0.3s ease;
}
#welcomePageIconClick:hover #hairWelcome{
    fill: var(--orange);
    stroke: var(--orange);
    transition: all transform 0.3s ease;

} 
#welcomePageIconClick:hover #eyebrowsWelcome{
    fill: var(--orange);
    stroke: var(--orange);
    transition: all transform 0.3s ease;
}
#welcomePageIconClick:hover #clickMeGroup{
    fill: var(--orange);
    stroke: var(--orange);
    transition: all transform 0.3s ease;
}
.WelcomePageNameAndIcon{
    margin-top:40px;
    display: flex;
    flex-direction: row; 
    /* justify-content:center; */
}
#clickMe{
    stroke: var(--grey);
    fill: var(--grey);
}
#clickMe{
    float: right;
    margin-right: 100px;
    margin-top: -350px;
}
/* loading page */
#loadingIcon{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

/* @media (min-width: 1245px) {
    svg {
        width: 50%;
        height: 50%;
    }
} */

/* Large screens (desktops, 1024px and up) */
 /* @media (min-width: 1500px) {
    svg {
        width: 120%;
        height: 120%;
    }
}  */