body{

}
.custom-cursor{
    cursor: url('images/cursor.svg'), auto;
    
}
.jost {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-style: normal;
} 

/* colors */
:root {
    --purple: #9CAFFE;
    --orange: #F14D08;
    --grey: #F5F5F5;
    --black: #020001;

}
/* text */
/* headers */
h1{

}

h2{

}

h3{
    
}

/* welcome page */
.navbar{
    position: sticky;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    color: #F5F5F5;
    margin: 0;

}
.navbar ul {   
    list-style: none;
    overflow: hidden;
    margin: 0;

}
  
/* Style rule set for individual li */
.navbar ul li {
    font-size: 30px;
    color: var(--purple);
    padding-top: 20px;
    margin-right: 150px;
    text-decoration: none;
    float: left;
}
  
/* Style rule set for individual li link */
.navbar ul li a {
    text-decoration: none;
    color: var(--grey);
}
  
#homeIconNavbarDiv{
    margin-top: -10px;
}
#homeIconNavbarDiv:hover{

    transform: rotate(-50deg);
    transition: transform, 0.3s ease;
}
#designerArtistStoryteller{
    /* margin-left: 300px;
    margin-right: 300px; */

}
#contactPosition{
    margin-top:7px;
}
#welcomePageName{
    margin: auto;
    margin-top: 90px;

}

#hairWelcome{
    fill: var(--grey);
    stroke: var(--grey);
}
 #eyebrowsWelcome{
    fill: var(--grey);

} 
#welcomePageIconClick{
    stroke: var(--grey);
    margin-top: 400px;
    margin-right: 200px;
    transform: rotate(0deg);
}
#welcomePageIconClick:hover{
    stroke: var(--orange);
    transform: rotate(50deg);
    transition: stroke, transform 0.3s ease;
}
svg:hover #hairWelcome {
    fill: var(--orange);
    stroke: var(--orange);
    transition: all transform 0.3s ease;

} 
svg:hover #eyebrowsWelcome{
    fill: var(--orange);
    stroke: var(--orange);
    transition: all transform 0.3s ease;
}
.WelcomePageNameAndIcon{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

#clickMe{
    float: right;
    margin-right: 12%;
    margin-top: -22%;
}
/* loading page */
#loadingIcon{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}