@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 0;
  margin: 0;
}

svg {
  max-height: 500px;
}

#container {
    width: 200;
    height: 200;
    border: 2px solid black;
    position: relative;
    margin: 50px auto;
}
