body{
    margin:0;
    padding:0;
    background-color:#FFEDDF;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* navbar */
/* General style rule set for all items in ul */
.navbar ul {
    background-color:#FFEDDF;
    list-style: none;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    margin-top: 0 px;
    margin-bottom: 10px;
    z-index: 1;
}
  
/* Style rule set for individual li */
.navbar ul li {
    float: left;
    margin: 0px;
}
  
  /* Style rule set for individual li link */
.navbar ul li a {
    color: #395B50;
    font-size: 20px;
    text-decoration: none;
}
  
.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
  
.navbar a:hover {
    font-weight: bold;
}
/*  icons*/
.social-icons {
    display:flex;
    flex-direction:row;
    margin:0;
}
.social-icons a {
    display: inline-block;
    color: white;
}
.social-icons a:hover {
    size:3em;

}
/* header */
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:30px;
    justify-content:space-evenly;
    padding:20px;
    margin-bottom:200px;
}
.headerone{
    width:50%;
}
.headertwo{
    width:50%;
}
/* text */
h1{
    margin-bottom:20px;
    font-size:150px;
    font-family: "variex", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#C5D86D;

}
h2{
    font-size:50px;
    font-family: "variex", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#1F2F16;
}
h3{
    padding: 10px;
    font-size:50px;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    color:#5A7684;
}
p{
    font-size:25px;
    color:#1F2F16;
}
/* images */
#turtle{
    opacity:75%;
    width:500px;
    height:500px;
}
#knit{
    margin-top:-400px;
    margin-left:650px;
    width:500px;
    height:500px; 
}
#milk{
    margin-top:-400px;
    margin-left:650px;
    width:500px;
    height:500px; 
}
#shiba{
    margin-top:-490px;
    margin-left:650px;
    width:600px;
    height:500px; 
}
/* index page divs */
.facts{
    width:100%;
    margin: 35px;
    padding: 20px; /* Adding padding to the content inside the box */
   /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Adjust the values to control the shadow */
}
.facts1{
    width:100%;
    /* background-color:white; */
    padding: 20px; /* Adding padding to the content inside the box */
   /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Adjust the values to control the shadow */
}
/* links */
a{
    color:#63452a;
    text-decoration:none
}
a:hover{
    color:#0000;
    transition: color 0.3s ease;

}
/* button */
button{
  /* Set border color */
  border: none;
  margin-left:20px;
  /* Set padding */
  padding:20px;
  /* Set font size */
  font-size:35px;
  font-weight:700;
  border: 4px solid #63452a; 
  /* Add rounded corners */
  border-radius:30px;
  /* Add cursor pointer on hover */
  cursor: pointer;
}
/* button hover */
button:hover{
    background-color:#E43D12;
    transition: background-color 0.3s ease;

}
/* footer 
 footer{
    background-color:#f8f5e7;
    position:fixed;
    text-align: center;
    padding: 20px 0;
    width: 100%; 
    bottom: 0; 
} */
/* Post page */
.all_post-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.post-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* Set padding*/
    padding:20px;
    margin:25px;
    border: 4px solid white; 
    border-radius:25px;
}
.post-container:hover{
    margin-top:-30px;
    transition: margin 0.3s ease;
}
#leaf{
    padding:20px;
    width:250px;
    height:250px;
}
.meta {
    color: #888;
    font-size:1em;
}

.read-more {
    color: #888;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
/* media queries */ 
@media screen and (max-width:600px){
    body{
        background-color:white;
    }
}