body{
    margin:0;
    padding:0;
    background-color: #FFEDDF;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* images */
img{
    border-radius: 5%;
}
.blogPostImages{
    border: 10px dotted #d8caab;
    border-radius: 50%;
    margin-top:60px;
    opacity:80%;
}

.blogPostImages:hover{
    opacity:100%;
    /* border: 10px dotted #8A9946; */
    transition: opacity 0.3s ease;
}
.commentImageIds{
    width:80px;
    height:80px;
    border: 4px solid #C5D86D;
    border-radius:50%

}
/* images */
#turtle{
    opacity:75%;
    width:550px;
    height:550px;
}
#turtle:hover{
    opacity:100%;
    transition: opacity 0.3s ease;


}
/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    top: -30px;
    padding-top:25px;
    z-index: 1;
    background-color:#FFEDDF;


}
/* General style rule set for all items in ul */
.navbar ul {    /* border-bottom: 4px dotted #8A9946; */
    list-style: none;
    overflow: hidden;

}
  
/* Style rule set for individual li */
.navbar ul li {
    float: left;
    margin: 0px;
}
  
  /* Style rule set for individual li link */
.navbar ul li a {
    color: #395B50;
    font-size: 20px;
    text-decoration: none;
}
  
.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
  
.navbar a:hover {
    font-weight: bold;
}
/*  icons*/
.social-icons {
    display:flex;
    flex-direction:row;
    margin-top:-10px;
}
.social-icons a {
    display: inline-block;
    color: white;
}
.social-icons a:hover {
    size:3em;

}
/* header */
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin:30px;
    padding:20px;
}
.headerone{
    width:60%;
}
.headertwo{
    width:50%;
}
/* text */
h1{
    margin-bottom:0px;
    font-size:150px;
    font-family: "variex", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#C5D86D;

}
h2{
    margin-left:20px;
    font-size:70px;
    font-family: "variex", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#8A9946;
}
h3{
    padding-left:20px;
    font-size:60px;
    font-family: "basic-sans", sans-serif;
    font-weight: 500;
    color:#1F2F16;
}
h4{
    margin:3;
    padding-left:10px;
    font-size:35px;
    font-family: "basic-sans", sans-serif;
    font-weight: 500;
    color:#8A9946;
}
p{
    /* margin:20px; */
    /* padding:20px; */
    font-size:30px;
    color:#1F2F16;
}
/* links */
a{
    padding:0px;
    color:#63452a;
    text-decoration:none
}
a:hover{
    color:#C5D86D;
    transition: color 0.3s ease;

}
/* button */
button,
.button{
  /* Set padding */
  padding:20px;
  font-family: "basic-sans", sans-serif;
  /* Set font size */
  font-size:25px;
  font-weight:400;
  color: #8A9946;
  background-color: #FFEDDF;
  border: 4px dotted  #8A9946; 
  /* Add rounded corners */
  border-radius:20px;
  /* Add cursor pointer on hover */
  cursor: pointer;
}
.button{
    float:right;
    bottom:20px;
}
/* button hover */
button:hover{
    color: #395B50;
    background-color: #C5D86D;
    transition: background-color,color 0.3s ease;   
}
.button:hover{
    color: #395B50;
    background-color: #C5D86D;
    transition: background-color,color 0.3s ease;  

}
/* back button */
.backButton{
    opacity:60%;
    margin-top:40px;
    margin-left:0px;
    height:50px;
    width:50px;

}
.backButton:hover{
    opacity:30%;
    transition: opacity 0.3s ease;
}
/* footer 
 footer{
    background-color:#f8f5e7;
    position:fixed;
    text-align: center;
    padding: 20px 0;
    width: 100%; 
    bottom: 0; 
} */
/*Homepage*/
#aboutMe{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
/* Blog Post page */
.all_post-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
}
.post-container {
    /* background-color: white; */
    /* Set padding*/
    padding:20px;
    margin:25px;
    /* border: 4px solid #8A9946; */
    opacity: 100%;
    border-radius:25px;
    background-color:white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.post-container:hover {

    margin-top:-20px;
    transition: opacity, margin 0.3s ease;
}
/* Individual Post Page */
.blogComment-container {
    /* background-color: white; */
    /* Set padding*/
    padding:10px;
    margin:40px;
    border:4px dotted #d8caab;
    border-radius:25px;
    /* border: 2px solid #8A9946;  */
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}
.addComment-container {
    padding:20px;
    margin:50px;
    /* border-bottom: 2px solid #a99b7a; */
    /* border-radius:25px;
    border: 4px solid #8A9946; */

    /* border: 2px solid #8A9946;  */
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */

}
#commentContent{
    height:300px;
    width:100%;
    margin:10px;
    background-color:#FFEDDF;
    border:4px solid #d8caab;
    border-radius:25px;
}
#commentName{
    margin:10px;
    width:40%;
    background-color:#FFEDDF;
    border:none;
    border-bottom:4px solid #d8caab;
}
.meta {
    color: #888;
    font-size:1em;
}

.read-more {
    color: #888;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
/* media queries */ 
@media screen and (max-width:600px){
    body{
        background-color:white;
    }
}