body{

}



/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 100 to 900 */

.jost {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

/* colors */
.grey{
    color: #F5F5F5;

}
.black{
    color: #020001;

}
.orange{
    color: #F14D08;

}
.purple{
    color: #9CAFFE;
}

/* text */
/* headers */
h1{

}

h2{

}

h3{
    font-size: 25px;
}



/* welcome page */
.navbar{
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    color: #F5F5F5;
    margin: 0;

}
.navbar ul {   
    list-style: none;
    overflow: hidden;
    margin: 0;

}
  
/* Style rule set for individual li */
.navbar ul li {
    padding-top: 25px;
    margin-right: 150px;
    text-decoration: none;
    float: left;
}
  
/* Style rule set for individual li link */
.navbar ul li a {
    text-decoration: none;
    color: #F5F5F5;
}
  
#homeIconNavbarDiv{
    margin-top: -15px;
}
#homeIconNavbarDiv:hover{

    transform: rotate(-50deg);
    transition: transform, 0.3s ease;

}
#designerArtistStoryteller{
    /* margin-left: 300px;
    margin-right: 300px; */

}
#contactPosition{
    margin-top:7px;
}
#welcomePageName{
    margin: auto;
    margin-top:200px;

}
#welcomePageIconClick{
    margin-top: 600px;
    margin-right: 200px;
    transform: rotate(0deg);
}
#welcomePageIconClick:hover{
    /* fill: #F14D08; */
    transform: rotate(50deg);
    transition: transform 0.3s ease;
}
.WelcomePageNameAndIcon{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

#clickMe{
    float: right;
    margin-right: 12%;
    margin-top: -17%;
}
/* loading page */
#loadingIcon{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}