
/* colors */
:root {
  --purple: #9caffe;
  --darkPurple: #8693CB;
  --fadedPurple: #DADFF5;
  --orange: #f14d08;
  --darkOrange: #af371c;
  --grey: #f5f5f5;
  --darkDarkGrey: #908c8c;
  --fadedGrey:#E9E8E8;
  --black: #020001;
  --brown: #c28f73;
  --darkBrown: #9a6053;
  --darkDarkBrown: #2f120b;
  --yellow: #FFF96E;
  --green: #A1B489;
  --darkGreen: #63734E;
  --fadedGreen: #E3EADB;
  --darkBlue:#687493;
  --fadedBlue:#D5E2EC; 

}
/* .hover-target:hover {
  cursor: url('images/click.svg'), auto;
} */
.deskBackground {
  justify-content: center;
  margin-bottom: 100px;
  /* margin-bottom:-100px; */
}
#handContainer{
  width: 500px;
}
#computerScreen {
  stroke: var(--purple);
}
#computerBase {
  stroke: var(--grey);
}
#computer:hover #computerScreen {
  stroke: var(--black);
  stroke-width: 2px;
}
#computer:hover #computerBase {
  stroke: var(--black);
  stroke-width: 2px;
}
/* 
light {
  display: none;
} */
.displayBlock {
  display: none;
  transition: display .5s ease-in-out;
}

.hideIt {
  display:none; 
}

.blades-rotate {
  transform-origin: 40px 30px;
  transform-box: fill-box;
  animation: fanBlowing 0.1s linear infinite;
}
.hair-blows {
  transform-origin: 130px 20px;
  transform-box: fill-box;
  animation: hairBlowing 1s ease-in-out infinite alternate;
}
.postIt-blows {
  transform-origin: center;
  transform-box: fill-box;
  animation: postItBlowing 0.5s ease-in-out infinite alternate;
}

@keyframes fanBlowing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @keyframes hairBlowing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(6deg);
  }
} */
@keyframes postItBlowing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-20deg);
  }
}
/* clock */
#minuteHand {
  transform-origin: 120px, 20px;
  transform-box: fill-box;
  animation: clockMoving 60s infinite;
}

@keyframes clockMoving {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.eyesToLamp{
  transform: translate(2.5px, -4px);
}

.eyesToFan{
  transform: translate(-4px, 0px);
}
.eyesToHeadphones{
  transform: translate(0px, -4px);
}
.eyesToMouse{
  transform: translate(-2px, 0px);

}
#closed-eyes{
  visibility: hidden;
}
.eyes-closed{
  animation: eyesDisappearing .5s steps(1, end);

}
.eyelids-closed{
  display:block;
  animation: eyesClosing .5s steps(1, end);
}

@keyframes eyesDisappearing {
  0%, 100% {
      visibility: visible;
  }
  50% {
      visibility: hidden;
  }
}

@keyframes eyesClosing{
  0%, 100% {
    visibility: hidden;
}
50% {
    visibility: visible;
}
}
 
.moveHead{
  transform-origin: center;
  transform-box: fill-box;
  animation: bouncingHead .7s ease-in-out alternate infinite;
}


@keyframes bouncingHead{
  0%{
    transform: rotate(2deg);
  }
  
  100%{transform: rotate(-4deg)};
}
