
/* body{
    cursor: url('images/customCursor.svg') 16 16, auto;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 550;
    font-style: normal;
    font-size:30px;
    margin: 0;
    padding: 0;
} */



  .justMeFont{
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 550;
    font-style: normal;
    font-size:30px;
    color: var(--darkDarkGrey);
  }
  #windyScenePreviewImg{
    width: 30%;
    margin:40px;
  }
h2{
    margin:0;
    font-weight: 550;
    padding-left: 20px;
}
p{
    font-size:25px;
    padding-left: 20px;
    font-weight: 400;
    color: var(--darkDarkGrey);
}
.portfolioPreviewText{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left:20px;
    margin-top: 40px;
    width:500px;
    overflow-wrap: break-word;

}
.portfolioContentPreview{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translate(0%, 30%);
}
.folderPageTitle{
    color: var(--grey);
    position: absolute;
    transform: translate(75%,10%);
}
.menuAndBackButton{
    /* display:none; */
    display: flex;
    flex-direction: row;

    font-size: 30px;
    position: absolute;
}
#folderMenu{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    background-color: var(--grey);
    border-radius:5px;
    height: 43px;
    width: 814px;
    transform: translate(18%, 130%);
    font-size: 30px;

}

  .folderBackgroundDiv{
    width: 1133px;
    height: 550px;
    margin: auto;
    position: relative;
    justify-content: center;
    height: 100%;
    
  }

  .folders{
    z-index:1;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    padding-left:10px;
    transform: translate(35%, 80%);



}
  /* svg{
  position: absolute;
  } */
.contentDescriptionText{
  margin-top:0;
}
#wearHats{
    font-weight: 550;
    font-size: 35px;
    transform: translate(70%, 200%);
    z-index:1;
    position: absolute;
}

#viewProject{
  margin-left: 300px;
}


.portfolioProjectTitleAndImage{
  margin-top: 40px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.portfolioProjectTitle{
  font-weight: 500;
  font-size: 60px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

}
.projectDescription{
  display: flex;
  flex-direction: column;
}

.biggerPortfolioImage{
  margin-right: 20px;
  width: 600px;
  height: 700px;
}

.typeRoleDuration{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.typeRoleDurationItems{
  color: var(--darkDarkGrey);
  font-weight: 400;
}
.projectAttributes{
  margin-top: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.projectAttributeItems{
  margin: 0;
  padding-left: 40;
  padding-right: 40;

}

.stackContainer{
  margin-left: 30;
  display: flex;
  flex-direction: row;
}

.stackItems{
  padding-left: 20;
}

.stackLabel{
  color: var(--darkDarkGrey);
  font-weight: 500;
}

.theProblemBox{
  margin-left: 20px;
  padding: 0;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--fadedOrange);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin-top: 50px;
  overflow-wrap: break-word;
  color: var(--darkOrange);
  font-size: 45px;
  font-weight: 550;
}

.theProblemContainer{
  margin-top: -30px;
  width: 600px;
}
.stickySidebar{
  float: right;
  position: fixed;
}

.firstDottedLine{
  margin-left: 60%;
  position: relative;
}
.secondDottedLine{
  margin: 40px;
  display: flex;
  justify-content: center;
  position: relative;

}
.leftAlignedTextContainer{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 150;
  margin-left: 40;
  width: 600px;
  overflow-wrap: break-word;
}

.infoArchitectureImage{
  display: flex;
  justify-content: center;
}
.LoFiWireframesBox{
  margin-left: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.LoFiWireframeLabelAndPen{
  display: flex;
  justify-content: center;
  
}