.justMeFont {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 30px;
  color: var(--darkDarkGrey);
}
#windyScenePreviewImg {
  width: 30%;
}

#backButton {
  width: 140px;
  margin-top: -30px;
  position: absolute;
}
p {
  /* font-size: 23px; */
  font-weight: 400;
  color: var(--darkDarkGrey);
}
.projectText {
  font-size: 20px;
  color: var(--darkDarkGrey);
  text-align: left;
}
.portfolioPreviewText {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 20px;
  margin-top: 100px;
  width: 500px;
  overflow-wrap: break-word;
  text-align: left;
}
h2 {
  padding-left: 30px;
}
.portfolioContentPreview {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transform: translate(0%, 25%);
  margin-bottom: 40px;
}
.PreviewContactIcons {
  display: flex;
  justify-content: right;
}
.folderPageTitle {
  color: var(--grey);
  position: absolute;
  transform: translate(75%, 10%);
}
.menuAndBackButton {
  /* display:none; */
  display: flex;
  flex-direction: row;

  font-size: 30px;
  position: absolute;
}
div {
  color: var(--black);
}
#folderMenu {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  background-color: var(--grey);
  border-radius: 5px;
  height: 43px;
  width: 814px;
  transform: translate(18%, 130%);
  font-size: 30px;
}

.folderBackgroundDiv {
  width: 1133px;
  height: 550px;
  margin: auto;
  position: relative;
  justify-content: center;
  height: 100%;
}

.folders {
  z-index: 1;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  padding-left: 10px;
  transform: translate(35%, 80%);
}

.contentDescriptionText {
  /* margin-right: 30px; */
  margin-top: 0;
}
#wearHats {
  font-weight: 550;
  font-size: 35px;
  transform: translate(70%, 200%);
  z-index: 1;
  position: absolute;
}

#viewProjectButton {
  margin-top: 20px;
  margin-left: 300px;
}

.portfolioProjectTitleAndImage {
  margin-top: 40px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.portfolioProjectTitle {
  color: var(--black);
  font-size: 40px;
  font-weight: 500;
  font-size: 60px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.projectDescription {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  align-items: flex-start;
}

.mainPortfolioImage {
  border-radius: 20px;
}

.typeRoleDuration {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.typeRoleDurationItems {
  color: var(--darkDarkGrey);
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
}
.projectAttributes {
  margin-top: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projectAttributeItems {
  margin: 0;
  padding-left: 40;
  padding-right: 40;
}

.stackContainer {
  margin-top: 10px;
  margin-left: 0;
  display: flex;
  flex-direction: row;
}

.stackItems {
  padding-right: 20px;
}

.stackLabel {
  color: var(--darkDarkGrey);
  font-weight: 500;
  padding: 20px;
}

.theProblemBox {
  padding-left: 20px;
  margin-top: 50px;
}

.theProblemContainer {
  margin-top: -30px;
  width: 600px;
  text-align: left;
}
.stickySidebar {
  position: absolute;
  position: sticky;
  float: right;
  margin-right: 130px;
  margin-top: -1000px;
  top: 400px;
}

.firstDottedLine {
  margin-left: 60%;
  position: relative;
}
.secondDottedLine {
  margin: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}
.leftAlignedTextContainer {
  display: flex;
  flex-direction: row;
  float: left;
  position: absolute;
  margin-top: 150px;
  margin-left: 300px;
  width: 600px;
  overflow-wrap: break-word;
}

.infoArchitectureImage {
  display: flex;
  justify-content: center;
}
.LoFiWireframesBox {
  display: grid;
  place-items: center;
}

.userTestingContainer {
  display: grid;
  grid-template-columns: fr 1fr;
  margin-left: 300px;
  gap: 20px;
}

.userTestingText {
  line-height: 50px;
  text-align: left;
  height: auto; /* Maintain the aspect ratio */
  width: 700;
}

.thirdDottedLine {
  margin-top: 20px;
  position: relative;
}

.lightBulb {
  position: absolute;
  transform: translate(700%, 400%);
}

.fourthDottedLine {
  position: relative;
  transform: scaleX(-1);
  margin-right: 400px;
  margin-top: 0px;
}

.finalPrototypeLabel {
  display: grid;
  place-items: center;
  margin-left: 70px;
}

.prototypePreview {
  display: grid;
  place-items: center;
}

.takeawaysHeader {
  font-size: 60px;
  color: var(--purple);
}

iframe {
  border-radius: 20px;
}

.takeawaysText {
  display: grid;
  place-items: center;
  gap: 20px;
}

.arrow {
  margin: 20px;
}
